.custom-carousel{
    width: 100%;
    height: 100vh !important;
}
.custom-img-size{
    width: 100%;
    height: 500px !important;
}
.container{
    border: solid 2px red;

}
.row{
    border: solid 1px blue;
    display: flex;
}
.d-flex{
    display: flex;
}
